# **Python Scripting**

## **Day-1**

## **Python Inputs and Outputs**

In [2]:
num1 = input("Please enter the first number: ")
num2 = input("Please enter the second number: ")
print (num1, type(num1))
print (num2, type(num2))
total = num1 + num2   # string concatenation
print (num1, num2, total)
print ("End of the program...")

Please enter the first number:  100
Please enter the second number:  200

100 <class 'str'>
200 <class 'str'>
100 200 100200
End of the program...

In [3]:
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
print (num1, type(num1))
print (num2, type(num2))
total = num1 + num2   # string concatenation
print (num1, num2, total)
print ("End of the program...")

Please enter the first number:  100
Please enter the second number:  200

100 <class 'int'>
200 <class 'int'>
100 200 300
End of the program...

In [22]:
print ("So", num1, "+", num2, "=", total)
print ("So " + str(num1) +  " + " + str(num2) + " = " + str(total))
print ("So {} + {} = {}".format(num1, num2, total))   # here {} denotes variable place holders
print ("So {0} + {1} = {2}".format(num1, num2, total))   # indexed place holder
print ("So {2} + {1} = {0}".format(total, num2, num1))   # indexed place holder
print ("So {fn} + {sn} = {tot}".format(fn = num1, sn = num2, tot = total))   # labelled place holder
print ("So {fn} + {sn} = {tot}".format(tot = total, sn = num2, fn = num1))   # labelled place holder
print ("So %d + %d = %d"%(num1, num2, total))
print ("So %f + %8.2f = %d"%(num1, num2, total))
print (f"So {num1} + {num2} = {total}")   # smart formatting

So 100 + 200 = 300
So 100 + 200 = 300
So 100 + 200 = 300
So 100 + 200 = 300
So 100 + 200 = 300
So 100 + 200 = 300
So 100 + 200 = 300
So 100 + 200 = 300
So 100.000000 +   200.00 = 300
So 100 + 200 = 300

## **Dynamic Variable Types**

In [19]:
var1 = 100; print (var1, type(var1), id(var1))
var1 = 100.5; print (var1, type(var1), id(var1))
var1 = "Punch"; print (var1, type(var1), id(var1))
var1 = "P"; print (var1, type(var1), id(var1))
var1 = 'Punch'; print (var1, type(var1), id(var1))
var1 = 'P'; print (var1, type(var1), id(var1))
var1 = True; print (var1, type(var1), id(var1))
var1 = False; print (var1, type(var1), id(var1))

100 <class 'int'> 1579362225488
100.5 <class 'float'> 1579485610448
Punch <class 'str'> 1579470579056
P <class 'str'> 1579363786288
Punch <class 'str'> 1579470579056
P <class 'str'> 1579363786288
True <class 'bool'> 140716744788176
False <class 'bool'> 140716744788208

## **Python Operators**

In [ ]:
# Arithmetic Operators: + - * / // ** %
# Conditional Operators: > >= < <= != ==
# Logical Operators: and or not
# Assignment Operator: = 
# Special Assignment Operators: += -= *= /= //= **= %=

In [21]:
# Arithmetic Operators: + - * / // ** %
print (100 + 40)   # addition
print (100 - 40)   # subtraction
print (100 * 40)   # multiplication
print (100 / 40)   # float division
print (100 // 40)  # integer division
print (100 ** 3)   # exponentiation
print (100 % 40)   # modulus or remainder of the division

140
60
4000
2.5
2
1000000
20

In [23]:
# Conditional Operators: > >= < <= != ==
print (100 > 40, 100 >= 40, 40 < 100, 40 <= 100, 40 == 100, 40 != 100)

True True True True False True

In [24]:
# Logical Operators: and or not
print (False or False, False or True, True or False, True or True)
print (False and False, False and True, True and False, True and True)
print (not True, not False)

False True True True
False False False True
False True

In [25]:
# Assignment Operator: =
# Special Assignment Operators: += -= *= /= //= **= %=
var1 = 100
print (var1)
var1 += 10
print (var1)
var1 -= 10
print (var1)
var1 *= 10
print (var1)
var1 /= 10
print (var1)

100
110
100
1000
100.0

In [27]:
# Operators: Unary, Binary, Ternary
# Unary Operators (Require only one operand): +100 -300
# Binary Operators (Require only two operands): 700 + 100    900 - 300
# Ternary Operator (Requires only three operands)
num1 = 100
result = "Even" if (num1 % 2 == 0) else "Odd"
print (result)

num1 = 101
result = "Even" if (num1 % 2 == 0) else "Odd"
print (result)

Even
Odd

In [30]:
print ("Hello " * 3)
print ("Ba" + "na" * 2)
print ("Welcome " * 5)

Hello Hello Hello
Banana
Welcome Welcome Welcome Welcome Welcome

## **ASCII Codes and Characters**

In [ ]:
# ASCII (American Standard Code for Information Interchange) Codes
# A => 65, B => 66, Z => 90
# a => 97, b => 98, z => 122
# 0 => 48, 1 => 49, 9 => 57
# Space Bar/Blank => 32, Enter => 13, Esc => 27, Back Space => 9, Tab => 8
# ASCII Code is 8 bits code ranging from 0 to 255
# It can be divided into two categories:
# 1. Normal ASCII Codes (0 to 127) - Printable
# 2. Extended ASCII Codes (128 to 255) - Non-Printable

In [31]:
print (ord('A'), ord('a'), ord('Z'), ord('z'))  # returns characters to ASCII Codes
print (chr(65), chr(97), chr(90), chr(122))     # returns ASCII Codes to characters

65 97 90 122
A a Z z

## **Conditional Statements**

In [40]:
num1 = input("Please enter the first number: ")
num2 = input("Please enter the second number: ")
num3 = input("Please enter the third number: ")
if (num1 >= num2):
    if (num1 >= num3):
        print ("So the first number is the MAXIMUM Number...")
        print (f"So the MAXIMUM Number is {num1}...")
    else:
        print ("So the third number is the MAXIMUM Number...")
        print (f"So the MAXIMUM Number is {num3}...")
elif (num2 >= num3):
    print ("So the second number is the MAXIMUM Number...")
    print (f"So the MAXIMUM Number is {num2}...")
else:
    print ("So the third number is the MAXIMUM Number...")
    print (f"So the MAXIMUM Number is {num3}...")
print ("End of the program...")

Please enter the first number:  200
Please enter the second number:  300
Please enter the third number:  100

So the second number is the MAXIMUM Number...
So the MAXIMUM Number is 300...
End of the program...

In [44]:
# Take three numbers from the user as input and find the maximum of these numbers
num1 = int(input("Please enter the first integer: "))
num2 = int(input("Please enter the second integer: "))
num3 = int(input("Please enter the third integer: "))
if (num1 > num2 and num1 > num3):
    print ("The first number is the maximum number...")
    print ("So the maximum number is", num1)
elif (num2 > num3):
    print ("The second number is the maximum number...")
    print ("So the maximum number is", num2)
else:
    print ("The third number is the maximum number...")
    print ("So the maximum number is", num3)
print ("End of the program...")

Please enter the first integer:  300
Please enter the second integer:  200
Please enter the third integer:  100

The first number is the maximum number...
So the maximum number is 300
End of the program...

In [49]:
# calculator program
num1 = int(input("Please enter the first integer: "))
num2 = int(input("Please enter the second integer: "))
print ("M A I N  M E N U ...")
print ("~~~~~~~~~~~~~~~~~~~~")
print ("1 >  A D D I T I O N  O P E R A T I O N ...")
print ("2 >  S U B T R A C T I O N  O P E R A T I O N ...")
print ("3 >  M U L T I P L I C A T I O N  O P E R A T I O N ...")
print ("4 >  D I V I S I O N  O P E R A T I O N ...")
choice = int(input("Please enter your CHOICE Number: "))
if (choice == 1):
    print ("ADDITION Operation has been selected...")
    result = num1 + num2
    print (f"So {num1} + {num2} = {result}...")
elif (choice == 2):
    print ("SUBTRACTION Operation has been selected...")
    result = num1 - num2
    print (f"So {num1} - {num2} = {result}...")
elif (choice == 3):
    print ("MULTIPLICATION Operation has been selected...")
    result = num1 * num2
    print (f"So {num1} * {num2} = {result}...")
elif (choice == 4):
    print ("DIVISION Operation has been selected...")
    if (num2 == 0):
        print ("DIVISION by ZERO is Illegal...")
        print ("DIVISION Operation could not be carried out...")
    else:
        result = num1 / num2
        print (f"So {num1} / {num2} = {result}...")
else:
    print ("INVALID choice number has been provided...")
print ("End of the program...")

Please enter the first integer:  100
Please enter the second integer:  30

M A I N  M E N U ...
~~~~~~~~~~~~~~~~~~~~
1 >  A D D I T I O N  O P E R A T I O N ...
2 >  S U B T R A C T I O N  O P E R A T I O N ...
3 >  M U L T I P L I C A T I O N  O P E R A T I O N ...
4 >  D I V I S I O N  O P E R A T I O N ...

Please enter your CHOICE Number:  12

INVALID choice number has been provided...
End of the program...

## **Dealing with 'print' statement**

In [55]:
print ("Hello", "to all")
print ("Good afternoon")

Hello to all
Good afternoon

In [54]:
print ("Hello", "to all", end = ", ", sep = "-")
print ("Good afternoon")

Hello-to all, Good afternoon

In [52]:
help (print)   # ... ellipsis

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

## **Day-2**

## **Python Loops**

In [3]:
count = 0
for i in range(8):
    print (f"Looping for i = {i}...")
    count = count + 1
print (f"So total number of times the loop got executed is {count}...")
print ("End of the program...")

Looping for i = 0...
Looping for i = 1...
Looping for i = 2...
Looping for i = 3...
Looping for i = 4...
Looping for i = 5...
Looping for i = 6...
Looping for i = 7...
So total number of times the loop got executed is 8...
End of the program...

In [5]:
count = 0
for i in range(0, 8):
    print (f"Looping for i = {i}...")
    count = count + 1
print (f"So total number of times the loop got executed is {count}...")
print ("End of the program...")

Looping for i = 0...
Looping for i = 1...
Looping for i = 2...
Looping for i = 3...
Looping for i = 4...
Looping for i = 5...
Looping for i = 6...
Looping for i = 7...
So total number of times the loop got executed is 8...
End of the program...

In [6]:
count = 0
for i in range(0, 8, 1):
    print (f"Looping for i = {i}...")
    count = count + 1
print (f"So total number of times the loop got executed is {count}...")
print ("End of the program...")

Looping for i = 0...
Looping for i = 1...
Looping for i = 2...
Looping for i = 3...
Looping for i = 4...
Looping for i = 5...
Looping for i = 6...
Looping for i = 7...
So total number of times the loop got executed is 8...
End of the program...

In [7]:
count = 0
for i in range(-8, 8):
    print (f"Looping for i = {i}...")
    count = count + 1
print (f"So total number of times the loop got executed is {count}...")
print ("End of the program...")

Looping for i = -8...
Looping for i = -7...
Looping for i = -6...
Looping for i = -5...
Looping for i = -4...
Looping for i = -3...
Looping for i = -2...
Looping for i = -1...
Looping for i = 0...
Looping for i = 1...
Looping for i = 2...
Looping for i = 3...
Looping for i = 4...
Looping for i = 5...
Looping for i = 6...
Looping for i = 7...
So total number of times the loop got executed is 16...
End of the program...

In [8]:
count = 0
for i in range(0, 8, 2):
    print (f"Looping for i = {i}...")
    count = count + 1
print (f"So total number of times the loop got executed is {count}...")
print ("End of the program...")

Looping for i = 0...
Looping for i = 2...
Looping for i = 4...
Looping for i = 6...
So total number of times the loop got executed is 4...
End of the program...

In [11]:
print ("Hello" * 5)
print ("Hello " * 5)
print ("Ba" + "na" * 2)

HelloHelloHelloHelloHello
Hello Hello Hello Hello Hello
Banana

In [ ]:
Pattern Print - 1
-----------------
n = 6           i   .   *
              -------------
.....*          1   5   1
....***         2   4   3  . => (n - i)
...*****        3   3   5
..*******       4   2   7  * => (2 * i - 1)
.*********      5   1   9
***********     6   0  11
              -------------
              Tracing Table (To trace the logic)

In [15]:
n = int(input("Please enter the number of layers: "))
for i in range(1, n + 1):
    print ("." * (n - i) + "*" * (2 * i - 1))
print ("End of the program...")

Please enter the number of layers:  6

.....*
....***
...*****
..*******
.*********
***********
End of the program...

In [38]:
n = int(input("Please enter the number of layers: "))
i = 1
while (i < n + 1):
    print ("." * (n - i) + "*" * (2 * i - 1))
    i += 1
print ("End of the program...")

Please enter the number of layers:  11

..........*
.........***
........*****
.......*******
......*********
.....***********
....*************
...***************
..*****************
.*******************
*********************
End of the program...

In [ ]:
Pattern Print - 2
-----------------
n = 6           i   .   *
              -------------
***********     1   0  11
.*********      2   1   9  . => (i - 1)
..*******       3   2   7
...*****        4   3   5  * => (2 * (n - i) + 1)
....***         5   4   3
.....*          6   5   1
              -------------
              Tracing Table (To trace the logic)

In [17]:
n = int(input("Please enter the number of layers: "))
for i in range(1, n + 1):
    print ("." * (i - 1) + "*" * (2 * (n - i) + 1))
print ("End of the program...")

Please enter the number of layers:  6

***********
.*********
..*******
...*****
....***
.....*
End of the program...

In [18]:
count = 0
for i in range(8):
    print (f"Looping for i = {i}...")
    count = count + 1
else:
    print ("ELSE: Executing the else block...")
print (f"So total number of times the loop got executed is {count}...")
print ("End of the program...")

Looping for i = 0...
Looping for i = 1...
Looping for i = 2...
Looping for i = 3...
Looping for i = 4...
Looping for i = 5...
Looping for i = 6...
Looping for i = 7...
ELSE: Executing the else block...
So total number of times the loop got executed is 8...
End of the program...

In [31]:
count = 0
for i in range(8):
    print (f"Looping for i = {i}...")
    if (i == 5): 
        print ("Executing the BREAK statement...")
        break   # it will terminate the loop
    count = count + 1
else:
    print ("ELSE: Executing the else block...")
print (f"So total number of times the loop got executed is {count}...")
print ("End of the program...")

Looping for i = 0...
Looping for i = 1...
Looping for i = 2...
Looping for i = 3...
Looping for i = 4...
Looping for i = 5...
Executing the BREAK statement...
So total number of times the loop got executed is 5...
End of the program...

In [23]:
# check whether one user given number is PRIME or not
num = int(input("Please enter one integer number: "))
for i in range(2, num):
    if (num % i == 0):
        print (f"{num} is NOT a PRIME Number...")
        break;
else:
    print (f"{num} is a Prime Number...")
print ("End of the program...")

Please enter one integer number:  101

101 is a Prime Number...
End of the program...

In [27]:
for i in range(8):
    if (i == 3 or i == 5): 
        print (f"Executing the CONTINUE statement for i = {i}...")
        continue
    print (f"Looping for i = {i}...")
else:
    print ("ELSE: Executing the else block...")
print ("End of the program...")

Looping for i = 0...
Looping for i = 1...
Looping for i = 2...
Executing the CONTINUE statement for i = 3...
Looping for i = 4...
Executing the CONTINUE statement for i = 5...
Looping for i = 6...
Looping for i = 7...
ELSE: Executing the else block...
End of the program...

In [30]:
for i in range(8):
    if (i != 3 and i != 5): 
        pass    # is a statement placeholder
    else:
        print (f"Executing the CONTINUE statement for i = {i}...")
        continue
    print (f"Looping for i = {i}...")
else:
    print ("ELSE: Executing the else block...")
print ("End of the program...")

Looping for i = 0...
Looping for i = 1...
Looping for i = 2...
Executing the CONTINUE statement for i = 3...
Looping for i = 4...
Executing the CONTINUE statement for i = 5...
Looping for i = 6...
Looping for i = 7...
ELSE: Executing the else block...
End of the program...

In [36]:
# example of a nested loop application
print ("Visit Dictor...")    # 1 time
medicount = 0
for day in range(1, 6):
    print ("Good Morning...")    # 5 time5
    for medi in range(1, 4):
        print (f"Day No. = {day} and Medicine No. {medi}...")    # 15 time5
        medicount += 1
    print ("Good Night...")
    print ("--------------------------------------------")    # 5 time5
else:
    print ("ELSE: Thanks to Doctor...")    # 1 time
    print (f"ELSE: Total number medicine consiumed is {medicount}")
print ("End of the program...")

Visit Dictor...
Good Morning...
Day No. = 1 and Medicine No. 1...
Day No. = 1 and Medicine No. 2...
Day No. = 1 and Medicine No. 3...
Good Night...
--------------------------------------------
Good Morning...
Day No. = 2 and Medicine No. 1...
Day No. = 2 and Medicine No. 2...
Day No. = 2 and Medicine No. 3...
Good Night...
--------------------------------------------
Good Morning...
Day No. = 3 and Medicine No. 1...
Day No. = 3 and Medicine No. 2...
Day No. = 3 and Medicine No. 3...
Good Night...
--------------------------------------------
Good Morning...
Day No. = 4 and Medicine No. 1...
Day No. = 4 and Medicine No. 2...
Day No. = 4 and Medicine No. 3...
Good Night...
--------------------------------------------
Good Morning...
Day No. = 5 and Medicine No. 1...
Day No. = 5 and Medicine No. 2...
Day No. = 5 and Medicine No. 3...
Good Night...
--------------------------------------------
ELSE: Thanks to Doctor...
ELSE: Total number medicine consiumed is 15
End of the program...

In [37]:
# example of a nested loop application
print ("Visit Dictor...")    # 1 time
medicount = 0
day = 1
while (day < 6):
    print ("Good Morning...")    # 5 time5
    medi = 1
    while (medi < 4):
        print (f"Day No. = {day} and Medicine No. {medi}...")    # 15 time5
        medicount += 1
        medi += 1
    print ("Good Night...")
    print ("--------------------------------------------")    # 5 time5
    day += 1
else:
    print ("ELSE: Thanks to Doctor...")    # 1 time
    print (f"ELSE: Total number medicine consiumed is {medicount}")
print ("End of the program...")

Visit Dictor...
Good Morning...
Day No. = 1 and Medicine No. 1...
Day No. = 1 and Medicine No. 2...
Day No. = 1 and Medicine No. 3...
Good Night...
--------------------------------------------
Good Morning...
Day No. = 2 and Medicine No. 1...
Day No. = 2 and Medicine No. 2...
Day No. = 2 and Medicine No. 3...
Good Night...
--------------------------------------------
Good Morning...
Day No. = 3 and Medicine No. 1...
Day No. = 3 and Medicine No. 2...
Day No. = 3 and Medicine No. 3...
Good Night...
--------------------------------------------
Good Morning...
Day No. = 4 and Medicine No. 1...
Day No. = 4 and Medicine No. 2...
Day No. = 4 and Medicine No. 3...
Good Night...
--------------------------------------------
Good Morning...
Day No. = 5 and Medicine No. 1...
Day No. = 5 and Medicine No. 2...
Day No. = 5 and Medicine No. 3...
Good Night...
--------------------------------------------
ELSE: Thanks to Doctor...
ELSE: Total number medicine consiumed is 15
End of the program...

In [39]:
# different inbuilt collections
list1 = [100, 2.45, True, "Food", 201]   # mutable
print (list1, len(list1), type(list1), id(list1))
tuple1 = (100, 2.45, True, "Food", 201)   # immutable, read only
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
dict1 = {'name':'Bidisha', 'location':'Noida', 'job':'Developer', 'company':'Accenture'} # mutable
print (dict1, len(dict1), type(dict1), id(dict1))
set1 = {"Delhi", 100, 2.45, True, "Food", 201, True, "Food", 201}
print (set1, len(set1), type(set1), id(set1))
fset1 = frozenset(["Delhi", 100, 2.45, True, "Food", 201, True, "Food", 201]) # immutable, read only
print (fset1, len(fset1), type(fset1), id(fset1))

[100, 2.45, True, 'Food', 201] 5 <class 'list'> 3141041487168
(100, 2.45, True, 'Food', 201) 5 <class 'tuple'> 3141037890976
{'name': 'Bidisha', 'location': 'Noida', 'job': 'Developer', 'company': 'Accenture'} 4 <class 'dict'> 3141041030848
{True, 2.45, 100, 'Delhi', 201, 'Food'} 6 <class 'set'> 3141036190048
frozenset({True, 2.45, 100, 201, 'Food', 'Delhi'}) 6 <class 'frozenset'> 3141041007168

In [41]:
# dealing with empty collections
var1 = []; print (var1, len(var1), type(var1))
var1 = (); print (var1, len(var1), type(var1))
var1 = {}; print (var1, len(var1), type(var1))
var1 = set(); print (var1, len(var1), type(var1))
var1 = frozenset(); print (var1, len(var1), type(var1))

[] 0 <class 'list'>
() 0 <class 'tuple'>
{} 0 <class 'dict'>
set() 0 <class 'set'>
frozenset() 0 <class 'frozenset'>

## **Day-3**

## **User Defined Function (UDF)**

In [42]:
def funct1():
    print ("Welcome " * 4)
print (type(funct1), id(funct1))
funct1()
funct1()
funct1()

<class 'function'> 3141069199184
Welcome Welcome Welcome Welcome
Welcome Welcome Welcome Welcome
Welcome Welcome Welcome Welcome

In [44]:
def funct2(msg, times):
    print (msg * times)

funct2("Welcome ", 5)
funct2("Hello ", 10)
funct2("Hi !!! ", 3)

Welcome Welcome Welcome Welcome Welcome
Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
Hi !!! Hi !!! Hi !!!

In [45]:
def funct3(msg, times):
    return msg * times

result = funct3("Welcome ", 3)
print (result)
print (funct3("Hello ", 5))

Welcome Welcome Welcome
Hello Hello Hello Hello Hello

In [56]:
# function with default arguments
def funct4(par1 = 111, par2 = 222, par3 = 333):  # positional parameters
    print (f"par1 = {par1}, par2 = {par2} and par3 = {par3}...")
    
funct4(100, 200, 300)  # positional arguments
funct4(100, 200)
funct4(100)
funct4()
funct4(par3 = 300, par2 = 200, par1 = 100)
funct4(par3 = 300, par1 = 100)
funct4(par2 = 200)

par1 = 100, par2 = 200 and par3 = 300...
par1 = 100, par2 = 200 and par3 = 333...
par1 = 100, par2 = 222 and par3 = 333...
par1 = 111, par2 = 222 and par3 = 333...
par1 = 100, par2 = 200 and par3 = 300...
par1 = 100, par2 = 222 and par3 = 300...
par1 = 111, par2 = 200 and par3 = 333...

In [59]:
def funct5(num1, num2 = None):
    if (num2 == None):
    # if (num2 is None):
        return 2 * num1
    else:
        return num1 + num2
    
print (funct5(100, 400))
print (funct5(100))

500
200

In [61]:
# function returning multiple arguments
def funct6(num1, num2): 
    total = num1 + num2
    difference = num1 - num2
    product = num1 * num2
    quotient = num1 / num2
    return total, difference, product, quotient

tt, dd, pp, qq = funct6(100, 40)
print (f"Total = {tt}, difference = {dd}, product = {pp} and quotient = {qq}...")
res = funct6(100, 40)
print (res, len(res), type(res), id(res))
print (f"Total = {res[0]}, Difference = {res[1]}, Product = {res[2]} and Quotient = {res[3]}...")

Total = 140, difference = 60, product = 4000 and quotient = 2.5...
(140, 60, 4000, 2.5) 4 <class 'tuple'> 3141042293792
Total = 140, Difference = 60, Product = 4000 and Quotient = 2.5...

In [62]:
# function with variable number of arguments
def funct7(*arg):    # *arg1 means forcefully defining arg1 as a tuple
    print (arg, len(arg), type(arg), id(arg))
    
funct7("Amitava", "Developer", 65000)
funct7("Amitava", "Developer", 65000, "Pune")
funct7("Amitava", "Developer", 65000, "Pune", "Masters")

('Amitava', 'Developer', 65000) 3 <class 'tuple'> 3141074408256
('Amitava', 'Developer', 65000, 'Pune') 4 <class 'tuple'> 3141042294832
('Amitava', 'Developer', 65000, 'Pune', 'Masters') 5 <class 'tuple'> 3141042294752

In [63]:
# function with variable number of arguments
def funct8(**kwarg):   # **kwarg means forcefully defining kwarg as a dictionary type key-word argument
    print (kwarg, len(kwarg), type(kwarg), id(kwarg))
    
funct8(name = "Amitava", job = "Developer", salary = 65000, location = "Pune")
funct8(name = "Amitava", job = "Developer", salary = 65000, location = "Pune", qualification="ME")

{'name': 'Amitava', 'job': 'Developer', 'salary': 65000, 'location': 'Pune'} 4 <class 'dict'> 3141037676736
{'name': 'Amitava', 'job': 'Developer', 'salary': 65000, 'location': 'Pune', 'qualification': 'ME'} 5 <class 'dict'> 3141073895936

In [65]:
# function with variable number of arguments
def funct9(*arg, **kwarg):
    print (arg, len(arg), type(arg), id(arg))
    print (kwarg, len(kwarg), type(kwarg), id(kwarg))
    
funct9("Amitava", "Developer", 65000, location = "Pune", qualification = "Masters", hobby='drawing')
print ()
funct9("Amitava", "Developer", 65000)
print ()
funct9(location = "Pune", qualification = "Masters", hobby = 'drawing')

('Amitava', 'Developer', 65000) 3 <class 'tuple'> 3141074105984
{'location': 'Pune', 'qualification': 'Masters', 'hobby': 'drawing'} 3 <class 'dict'> 3141042113152

('Amitava', 'Developer', 65000) 3 <class 'tuple'> 3141074093504
{} 0 <class 'dict'> 3141042114880

() 0 <class 'tuple'> 3140950769776
{'location': 'Pune', 'qualification': 'Masters', 'hobby': 'drawing'} 3 <class 'dict'> 3141041032896

In [72]:
# non-recursive function to calculate factorial of a given integer
# 5! = 1 * 2 * 3 * 4 * 5 = 5 * 4 * 3 * 2 * 1 = 120
# 0! = 1! = 1
def factorial_nr(num):
    if (num == 0 or num == 1):
        return 1
    fact = 1
    for i in range(1, num + 1):
        fact = fact * i
    return fact

result = factorial_nr(5)
print (result)
print (factorial_nr(5))
print (factorial_nr(6))

120
120
720

In [74]:
# recursive factorial calculating function
# 5! = 1 * 2 * 3 * 4 * 5 = 5 * 4 * 3 * 2 * 1 = 120
# 5! = (1 * 2 * 3 * 4) * 5 = 4! * 5
# n! = (n - 1)! * n = n * (n - 1)!
def factorial_r(num):
    if (num == 0 or num == 1): return 1  # base case: for certain input values outputs are pre-known
    return num * factorial_r(num - 1)    # reursive case: the function will call itself

n = 5
result = factorial_r(n)
print (f"So factorial of {n} is {result}...")

So factorial of 5 is 120...

In [ ]:
5! = 5 * 4!
         4 * 3!
             3 * 2!
                 2 * 1!
                     1
                 2
             6
         24
     120

## **Lambda Function**

#### Lambda Function
> In Python programming, a lambda function is a small anonymous function that can have any number of arguments, but can only have one expression. The expression is evaluated and returned as the function result. Lambda functions are commonly used in combination with higher-order functions such as map(), filter(), and reduce().

Some of the properties of lambda functions in Python programming include:
* **Anonymous:** Lambda functions are anonymous, meaning they do not have a name like regular functions. They are defined using the keyword "lambda" followed by the arguments and the expression.
* **Single Expression:** A lambda function can only contain a single expression that is evaluated and returned as the function result. This means that it cannot contain multiple statements or control flow structures.
* **Concise:** Lambda functions are concise and can be defined in a single line of code. This makes them useful for defining simple functions on-the-fly.
* **Immutable:** Lambda functions are immutable, meaning they cannot be modified once defined. This means that you cannot change the behavior of a lambda function after it has been defined.
* **Higher-order Functions:** Lambda functions are often used in combination with higher-order functions such as map(), filter(), and reduce(). These functions take other functions as arguments and return new functions as results.
* **Memory-efficient:** Lambda functions are memory-efficient since they are defined on-the-fly and do not require a separate function definition. This can be useful when working with large data sets or when memory usage is a concern.

In [75]:
# lambda function
my_square = lambda num: num * num

print (my_square(5), my_square, type(my_square), id(my_square))
result = my_square(6)
print (result)

25 <function <lambda> at 0x000002DB56A15750> <class 'function'> 3141074507600
36

In [76]:
my_addition = lambda num1, num2: num1 + num2

print (my_addition(500, 400), my_addition, type(my_addition), id(my_addition))
result = my_addition(300, 500)
print (result)

900 <function <lambda> at 0x000002DB56A156C0> <class 'function'> 3141074507456
800

### Importing Module

In [78]:
# importing module
import math

In [84]:
print (math.sqrt(100), math.log(10))
print (math.gcd(100, 40), math.lcm(100, 40))
print (math.pi, math.tau, math.e)

10.0 2.302585092994046
20 200
3.141592653589793 6.283185307179586 2.718281828459045

In [83]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

## **Day-4**

## **List Processing**

## **Tuple Processing**

## **Day-5**

## **Dictionary Processing**

## **Set Processing**

## **Frozen Set Processing**